
Data Comparison
===============

Date comparison run: 2020-03-14 11:15:27  
Comparison run on R version 3.4.3 (2017-11-30)  
With dataCompareR version 0.1.2  


Meta Summary
============


|Dataset Name |Number of Rows |Number of Columns |
|:------------|:--------------|:-----------------|
|Set1         |192            |341               |
|Set2         |192            |341               |


Variable Summary
================

Number of columns in common: 341  
Number of columns only in Set1: 0  
Number of columns only in Set2: 0  
Number of columns with a type mismatch: 0  
Match keys : 1   - RECORD_ID



Row Summary
===========

Total number of rows read from Set1: 192  
Total number of rows read from Set2: 192    
Number of rows in common: 192  
Number of rows dropped from Set1: 0  
Number of rows dropped from  Set2: 0  


Data Values Comparison Summary
==============================

Number of columns compared with ALL rows equal: 205  
Number of columns compared with SOME rows unequal: 135  
Number of columns with missing value differences: 0  

Columns with all rows equal : ABASTECE_AGUA, ACCION_EMBARAZADA, ALUMBRADO, BASURA, BIENES_SERVICIOS___1, BIENES_SERVICIOS___10, BIENES_SERVICIOS___11, BIENES_SERVICIOS___12, BIENES_SERVICIOS___13, BIENES_SERVICIOS___14, BIENES_SERVICIOS___15, BIENES_SERVICIOS___16, BIENES_SERVICIOS___2, BIENES_SERVICIOS___3, BIENES_SERVICIOS___4, BIENES_SERVICIOS___5, BIENES_SERVICIOS___7, BIENES_SERVICIOS___8, BIENES_SERVICIOS___97, BIENES_SERVICIOS___98, CANTIDAD_CONTROLES, CLASSIFICACION, COMBUSTIBLE_PRINCIPAL, COMO_ELIMINAR_CRI___0, COMO_ELIMINAR_CRI___1, COMO_ELIMINAR_CRI___3, COMO_ELIMINAR_CRI___5, COMO_ELIMINAR_CRI___6, COMO_ELIMINAR_CRI___8, COMO_ELIMINAR_CRI___9, COMO_ELIMINAR_CRI___97, COMO_ELIMINAR_CRI___98, COMO_PREV_ZIKA___0, COMO_PREV_ZIKA___10, COMO_PREV_ZIKA___12, COMO_PREV_ZIKA___15, COMO_PREV_ZIKA___2, COMO_PREV_ZIKA___3, COMO_PREV_ZIKA___4, COMO_PREV_ZIKA___5, COMO_PREV_ZIKA___6, COMO_PREV_ZIKA___7, COMO_PREV_ZIKA___8, COMO_PREV_ZIKA___9, COMO_PREV_ZIKA___97, COMO_PREV_ZIKA___98, CONTAGIARSE_ZIKA___1, CONTAGIARSE_ZIKA___10, CONTAGIARSE_ZIKA___11, CONTAGIARSE_ZIKA___12, CONTAGIARSE_ZIKA___2, CONTAGIARSE_ZIKA___3, CONTAGIARSE_ZIKA___6, CONTAGIARSE_ZIKA___7, CONTAGIARSE_ZIKA___8, CONTAGIARSE_ZIKA___9, CONTAGIARSE_ZIKA___97, CONTAGIARSE_ZIKA___98, COSAS_HACE_PREVENIR___1, COSAS_HACE_PREVENIR___10, COSAS_HACE_PREVENIR___12, COSAS_HACE_PREVENIR___13, COSAS_HACE_PREVENIR___14, COSAS_HACE_PREVENIR___15, COSAS_HACE_PREVENIR___16, COSAS_HACE_PREVENIR___18, COSAS_HACE_PREVENIR___2, COSAS_HACE_PREVENIR___5, COSAS_HACE_PREVENIR___6, COSAS_HACE_PREVENIR___8, COSAS_HACE_PREVENIR___9, COSAS_HACE_PREVENIR___97, CUAL_RIESGO_BEBE___1, CUAL_RIESGO_BEBE___2, CUAL_RIESGO_BEBE___3, CUAL_RIESGO_BEBE___97, CUAL_RIESGO_BEBE___98, DIAGNOSTICADO_DCZ, DONDE_REPRODUCEN___1, DONDE_REPRODUCEN___4, DONDE_REPRODUCEN___97, DONDE_REPRODUCEN___98, EMBARAZADA_TRANSMITE_BEBE, ENCUESTA_CAP_COMPLETE, ESPERMI_ESPONTANEO, EXISTEN_TRATAMIENTOS, GRAVE_DENGUE, GRAVE_ZIKA, HA_ELIMINADO, HACE_ACCION_EMBARAZADA___1, HACE_ACCION_EMBARAZADA___10, HACE_ACCION_EMBARAZADA___11, HACE_ACCION_EMBARAZADA___12, HACE_ACCION_EMBARAZADA___13, HACE_ACCION_EMBARAZADA___14, HACE_ACCION_EMBARAZADA___15, HACE_ACCION_EMBARAZADA___16, HACE_ACCION_EMBARAZADA___2, HACE_ACCION_EMBARAZADA___3, HACE_ACCION_EMBARAZADA___4, HACE_ACCION_EMBARAZADA___5, HACE_ACCION_EMBARAZADA___6, HACE_ACCION_EMBARAZADA___7, HACE_ACCION_EMBARAZADA___8, HACE_ACCION_EMBARAZADA___9, HACE_ACCION_EMBARAZADA___97, HACE_ACCION_EMBARAZADA___98, HIZO_ELIMINO___0, HIZO_ELIMINO___1, HIZO_ELIMINO___2, HIZO_ELIMINO___3, HIZO_ELIMINO___4, HIZO_ELIMINO___5, HIZO_ELIMINO___6, HIZO_ELIMINO___7, HIZO_ELIMINO___8, HIZO_ELIMINO___97, HIZO_ELIMINO___98, MATERIAL_PISO, MATERIAL_TECHO, MEDIDA_PREVENCION, MESES_EMBARAZO, MOSQUITEROS, NO_PARTICIPAR, OIDO_ZIKA, OTRA_BASURA, OTRO_ABASTECE_AGUA, OTRO_ACCION_EMBARAZADA, OTRO_ALUMBRADO, OTRO_COMBUSTIBLE, OTRO_DIRIGIDO, OTRO_EDUCACION, OTRO_ESPONTANEO, OTRO_HA_USADO, OTRO_PAREDES, OTRO_PISO, OTRO_SERVICIOHIGI_NICO, OTRO_TECHO, OTRO_VIVENDA, OTROS_BIENES_SERVICIOS, PARTICIPAR_ENTREVISTA, PRESENTAN_SINTOMA, PREV_TRANS_EMBARAZADA___0, PREV_TRANS_EMBARAZADA___1, PREV_TRANS_EMBARAZADA___13, PREV_TRANS_EMBARAZADA___15, PREV_TRANS_EMBARAZADA___2, PREV_TRANS_EMBARAZADA___5, PREV_TRANS_EMBARAZADA___6, PREV_TRANS_EMBARAZADA___97, PREV_TRANS_EMBARAZADA___98, PREVENIR_ZIKA, PUEDE_ELIMINAR_CRI, QUIEN_MOSQUITERO___0, QUIEN_MOSQUITERO___1, QUIEN_MOSQUITERO___2, QUIEN_MOSQUITERO___3, QUIEN_MOSQUITERO___4, QUIEN_MOSQUITERO___5, QUIEN_MOSQUITERO___98, QUIEN_VISITAS_REUNION___1, QUIEN_VISITAS_REUNION___3, QUIEN_VISITAS_REUNION___4, QUIEN_VISITAS_REUNION___5, QUIEN_VISITAS_REUNION___6, QUIEN_VISITAS_REUNION___7, QUIEN_VISITAS_REUNION___8, QUIEN_VISITAS_REUNION___97, QUIEN_VISITAS_REUNION___98, REALIZADO_ALGUNCONTROL, RETIRO_ESPONTANEO, RIESGO_BARRIO_DENGUE, RIESGO_CASA_DENGUE, RITMO_HA_USADO, RITMO_ULTMES, SERVICIO_HIGIENICO___4, SERVICIO_HIGIENICO___5, SERVICIO_HIGIENICO___97, SERVICIO_HIGIENICO___98, SINTOMAS___1, SINTOMAS___2, SINTOMAS___6, SINTOMAS___97, SINTOMAS___98, T_ULTMES, TIENE_PAREJA, TIPO_VIVIENDA, TOTAL_CALCULADO, TRATAMIENTOS_RECOMIENDAN___1, TRATAMIENTOS_RECOMIENDAN___2, TRATAMIENTOS_RECOMIENDAN___98, ULTIMA_ELIMINO, UNLUGAR_COCINAR, VASECTOMIA_DIRIGIDO, VASECTOMIA_ESPONTANEO, VASECTOMIA_ULTMES, VEHICULO___0, VEHICULO___1, VEHICULO___2, VEHICULO___3, VEHICULO___4, VEHICULO___5, VEHICULO___97, VEHICULO___98, VISITAS_REUNIONES

Summary of columns with some rows unequal: 



|Column                        |Type (in Set1) |Type (in Set2) | # differences|Max difference | # NAs|
|:-----------------------------|:--------------|:--------------|-------------:|:--------------|-----:|
|BARRIO                        |character      |character      |             2|NA             |     0|
|BIENES_SERVICIOS___17         |character      |character      |             2|NA             |     0|
|BIENES_SERVICIOS___18         |character      |character      |             1|NA             |     0|
|BIENES_SERVICIOS___19         |character      |character      |             2|NA             |     0|
|BIENES_SERVICIOS___6          |character      |character      |             1|NA             |     0|
|BIENES_SERVICIOS___9          |character      |character      |             1|NA             |     0|
|CODIGO_NUEVO                  |character      |character      |             4|NA             |     0|
|CODIGO_ORIGINAL               |character      |character      |            12|NA             |     0|
|COMO_ELIMINAR_CRI___2         |character      |character      |             1|NA             |     0|
|COMO_ELIMINAR_CRI___4         |character      |character      |             1|NA             |     0|
|COMO_ELIMINAR_CRI___7         |character      |character      |             1|NA             |     0|
|COMO_PREV_ZIKA___1            |character      |character      |             1|NA             |     0|
|COMO_PREV_ZIKA___11           |character      |character      |             1|NA             |     0|
|COMO_PREV_ZIKA___13           |character      |character      |             1|NA             |     0|
|COMO_PREV_ZIKA___14           |character      |character      |             1|NA             |     0|
|CONDON_DIRIGIDO               |character      |character      |             6|NA             |     0|
|CONDON_ESPONTANEO             |character      |character      |             5|NA             |     0|
|CONDON_HA_USADO               |character      |character      |             2|NA             |     0|
|CONDON_ULTMES                 |character      |character      |             4|NA             |     0|
|CONDONF_DIRIGIDO              |character      |character      |             3|NA             |     0|
|CONDONF_ESPONTANEO            |character      |character      |             2|NA             |     0|
|CONDONF_HA_USADO              |character      |character      |             4|NA             |     0|
|CONDONF_ULTMES                |character      |character      |             2|NA             |     0|
|CONTAGIARSE_ZIKA___4          |character      |character      |             1|NA             |     0|
|CONTAGIARSE_ZIKA___5          |character      |character      |             1|NA             |     0|
|COSAS_HACE_PREVENIR___11      |character      |character      |             1|NA             |     0|
|COSAS_HACE_PREVENIR___3       |character      |character      |             2|NA             |     0|
|COSAS_HACE_PREVENIR___4       |character      |character      |             2|NA             |     0|
|COSAS_HACE_PREVENIR___7       |character      |character      |             2|NA             |     0|
|CUAL_RIESGO_BEBE___4          |character      |character      |             1|NA             |     0|
|CUAL_RIESGO_BEBE___5          |character      |character      |             2|NA             |     0|
|CUAL_RIESGO_BEBE___6          |character      |character      |             3|NA             |     0|
|CUARTOS                       |character      |character      |             1|NA             |     0|
|DONDE_REPRODUCEN___2          |character      |character      |             2|NA             |     0|
|DONDE_REPRODUCEN___3          |character      |character      |             1|NA             |     0|
|DONDE_REPRODUCEN___5          |character      |character      |             2|NA             |     0|
|EDAD                          |character      |character      |             6|NA             |     0|
|EDUCACION                     |character      |character      |             1|NA             |     0|
|EMBARAZADA_MEF                |character      |character      |             6|NA             |     0|
|ENCUESTADORA                  |character      |character      |            55|NA             |     0|
|ESPERMI_DIRIGIDO              |character      |character      |             3|NA             |     0|
|ESPERMI_HA_USADO              |character      |character      |             3|NA             |     0|
|ESPERMI_ULTMES                |character      |character      |             2|NA             |     0|
|FECHA_ENTREVISTA              |character      |character      |             3|NA             |     0|
|FECHA_NACIMIENTO              |character      |character      |             1|NA             |     0|
|GRADO_ANO                     |character      |character      |           111|NA             |     0|
|HABLADO_PAREJA_CONDONES       |character      |character      |             4|NA             |     0|
|HIZO_ELIMINO___9              |character      |character      |             1|NA             |     0|
|IMPLANTE_DIRIGIDO             |character      |character      |             5|NA             |     0|
|IMPLANTE_ESPONTANEO           |character      |character      |             5|NA             |     0|
|IMPLANTE_HA_USADO             |character      |character      |             1|NA             |     0|
|IMPLANTE_ULTMES               |character      |character      |             1|NA             |     0|
|INYECCION_DIRIGIDO            |character      |character      |             3|NA             |     0|
|INYECCION_ESPONTANEO          |character      |character      |             2|NA             |     0|
|INYECCION_HA_USADO            |character      |character      |             3|NA             |     0|
|INYECCION_ULTMES              |character      |character      |             8|NA             |     0|
|LIDAGRUA_ULTMES               |character      |character      |             5|NA             |     0|
|LIGADURA_DIRIGIDO             |character      |character      |             4|NA             |     0|
|LIGADURA_ESPONTANEO           |character      |character      |             3|NA             |     0|
|LIGADURA_HA_USADO             |character      |character      |             2|NA             |     0|
|MANGAS_PANTALONES             |character      |character      |             1|NA             |     0|
|MANGAS_PANTALONES_ULTDIA      |character      |character      |             1|NA             |     0|
|MATERIAL_PAREDES              |character      |character      |             1|NA             |     0|
|MELA_DIRIGIDO                 |character      |character      |             4|NA             |     0|
|MELA_ESPONTANEO               |character      |character      |             2|NA             |     0|
|MELA_HA_USADO                 |character      |character      |             3|NA             |     0|
|MELA_ULTMES                   |character      |character      |             2|NA             |     0|
|OTRO_CASA                     |character      |character      |             3|NA             |     0|
|OTRO_HACE_PREVENIR            |character      |character      |             6|NA             |     0|
|OTRO_PERSONA                  |character      |character      |            10|NA             |     0|
|OTRO_PLANIFICACION_NOMBRE     |character      |character      |             1|NA             |     0|
|OTRO_REPRODUCEN               |character      |character      |            19|NA             |     0|
|OTRO_ULTMESOTRO_ULTMES        |character      |character      |             1|NA             |     0|
|OTROS_COMO_PREV_ZIKA          |character      |character      |             7|NA             |     0|
|OTROS_CONTAGIARSE             |character      |character      |             1|NA             |     0|
|OTROS_ELIMINAR_CRI            |character      |character      |             6|NA             |     0|
|OTROS_HIZO_ELIMINO            |character      |character      |             5|NA             |     0|
|OTROS_PLANIFICACION           |character      |character      |             3|NA             |     0|
|OTROS_PREV_TRANS_EMBARAZADA   |character      |character      |             4|NA             |     0|
|OTROS_RIESGOS                 |character      |character      |             4|NA             |     0|
|OTROS_SINTOMAS                |character      |character      |            24|NA             |     0|
|OTROS_TRATAMIENTOS            |character      |character      |            44|NA             |     0|
|OTROS_VEHICULOS               |character      |character      |             3|NA             |     0|
|PAREJA_CONDON_SIEMPRE         |character      |character      |             1|NA             |     0|
|PAREJA_USO_CONDON             |character      |character      |             2|NA             |     0|
|PAREJA_VIVECASA               |character      |character      |             7|NA             |     0|
|PASTILLA_DIRIGIDO             |character      |character      |             4|NA             |     0|
|PASTILLA_ESPONTANEO           |character      |character      |             4|NA             |     0|
|PASTILLA_HA_USADO             |character      |character      |             2|NA             |     0|
|PASTILLA_ULTMES               |character      |character      |             1|NA             |     0|
|PPMS_DIRIGIDO                 |character      |character      |             2|NA             |     0|
|PPMS_ESPONTANEO               |character      |character      |             2|NA             |     0|
|PPMS_HA_USADO                 |character      |character      |             4|NA             |     0|
|PPMS_ULTMES                   |character      |character      |             2|NA             |     0|
|PREV_TRANS_EMBARAZADA___10    |character      |character      |             2|NA             |     0|
|PREV_TRANS_EMBARAZADA___11    |character      |character      |             1|NA             |     0|
|PREV_TRANS_EMBARAZADA___12    |character      |character      |             1|NA             |     0|
|PREV_TRANS_EMBARAZADA___14    |character      |character      |             1|NA             |     0|
|PREV_TRANS_EMBARAZADA___3     |character      |character      |             2|NA             |     0|
|PREV_TRANS_EMBARAZADA___4     |character      |character      |             2|NA             |     0|
|PREV_TRANS_EMBARAZADA___7     |character      |character      |             1|NA             |     0|
|PREV_TRANS_EMBARAZADA___8     |character      |character      |             1|NA             |     0|
|PREV_TRANS_EMBARAZADA___9     |character      |character      |             1|NA             |     0|
|QUIEN_VISITAS_REUNION___2     |character      |character      |             1|NA             |     0|
|RELATION_ULT3                 |character      |character      |             2|NA             |     0|
|REPELENTE                     |character      |character      |             1|NA             |     0|
|REPELENTE_ULTDIA              |character      |character      |             1|NA             |     0|
|RETIRO_DIRIGIDO               |character      |character      |             2|NA             |     0|
|RETIRO_HA_USADO               |character      |character      |             2|NA             |     0|
|RETIRO_ULTMES                 |character      |character      |             1|NA             |     0|
|RIESGO_BARRIO_ZIKA            |character      |character      |             2|NA             |     0|
|RIESGO_BEBE                   |character      |character      |             1|NA             |     0|
|RIESGO_CASA_ZIKA              |character      |character      |             1|NA             |     0|
|RITMO_DIRIGIDO                |character      |character      |             1|NA             |     0|
|RITMO_ESPONTANEO              |character      |character      |             1|NA             |     0|
|SERVICIO_HIGIENICO___1        |character      |character      |             1|NA             |     0|
|SERVICIO_HIGIENICO___2        |character      |character      |             1|NA             |     0|
|SERVICIO_HIGIENICO___3        |character      |character      |             1|NA             |     0|
|SEXO_EDAD_DIAGNOSTICADO       |character      |character      |            27|NA             |     0|
|SINTOMAS___3                  |character      |character      |             1|NA             |     0|
|SINTOMAS___4                  |character      |character      |             2|NA             |     0|
|SINTOMAS___5                  |character      |character      |             3|NA             |     0|
|T_DIRIGIDO                    |character      |character      |             5|NA             |     0|
|T_ESPONTANEO                  |character      |character      |             2|NA             |     0|
|T_HA_USADO                    |character      |character      |             3|NA             |     0|
|TIPO_CASA                     |character      |character      |             2|NA             |     0|
|TOTAL_MUJERES                 |character      |character      |             2|NA             |     0|
|TOTAL_PERSONAS                |character      |character      |             2|NA             |     0|
|TOTAL_VARONES                 |character      |character      |             2|NA             |     0|
|TRATAMIENTOS_RECOMIENDAN___3  |character      |character      |             1|NA             |     0|
|TRATAMIENTOS_RECOMIENDAN___97 |character      |character      |             2|NA             |     0|
|ULTIMAVEZ_VISITA_REUNION      |character      |character      |             1|NA             |     0|
|VASECTOMIA_HA_USADO           |character      |character      |             1|NA             |     0|
|VIVE_CASA                     |character      |character      |             1|NA             |     0|
|ZIKA_TRANS_SEXUAL             |character      |character      |             5|NA             |     0|



Unequal column details
======================



#### Column -  BARRIO



|RECORD_ID |BARRIO (Set1) |BARRIO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------|:-------------|:-----------|:-----------|:----------|
|105       |22            |26            |character   |character   |           |
|119       |22            |25            |character   |character   |           |


#### Column -  BIENES_SERVICIOS___17



|RECORD_ID |BIENES_SERVICIOS___17 (Set1) |BIENES_SERVICIOS___17 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|12        |1                            |0                            |character   |character   |           |
|34        |1                            |0                            |character   |character   |           |


#### Column -  BIENES_SERVICIOS___18



|RECORD_ID |BIENES_SERVICIOS___18 (Set1) |BIENES_SERVICIOS___18 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|50        |1                            |0                            |character   |character   |           |


#### Column -  BIENES_SERVICIOS___19



|RECORD_ID |BIENES_SERVICIOS___19 (Set1) |BIENES_SERVICIOS___19 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|191       |0                            |1                            |character   |character   |           |
|12        |0                            |1                            |character   |character   |           |


#### Column -  BIENES_SERVICIOS___6



|RECORD_ID |BIENES_SERVICIOS___6 (Set1) |BIENES_SERVICIOS___6 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|53        |0                           |1                           |character   |character   |           |


#### Column -  BIENES_SERVICIOS___9



|RECORD_ID |BIENES_SERVICIOS___9 (Set1) |BIENES_SERVICIOS___9 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|98        |0                           |1                           |character   |character   |           |


#### Column -  CODIGO_NUEVO



|RECORD_ID |CODIGO_NUEVO (Set1) |CODIGO_NUEVO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------|:-------------------|:-----------|:-----------|:----------|
|106       |131B01025-1         |131BO1025-1         |character   |character   |           |
|154       |156D03005-1         |156D03335-1         |character   |character   |           |
|150       |154K0610-1          |154K6010-1          |character   |character   |           |
|6         |002-1-7             |002-1-6-7           |character   |character   |           |


#### Column -  CODIGO_ORIGINAL
Showing sample of size 5



|RECORD_ID |CODIGO_ORIGINAL (Set1) |CODIGO_ORIGINAL (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|71        |112H04014-1            |112H4014-1             |character   |character   |           |
|85        |114F02080              |119F02080-1            |character   |character   |           |
|48        |017G03024-1            |017G08024-1            |character   |character   |           |
|121       |135k34039-1            |135K34039-1            |character   |character   |           |
|186       |G.P 001                |G.P001                 |character   |character   |           |


#### Column -  COMO_ELIMINAR_CRI___2



|RECORD_ID |COMO_ELIMINAR_CRI___2 (Set1) |COMO_ELIMINAR_CRI___2 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|111       |0                            |1                            |character   |character   |           |


#### Column -  COMO_ELIMINAR_CRI___4



|RECORD_ID |COMO_ELIMINAR_CRI___4 (Set1) |COMO_ELIMINAR_CRI___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|57        |0                            |1                            |character   |character   |           |


#### Column -  COMO_ELIMINAR_CRI___7



|RECORD_ID |COMO_ELIMINAR_CRI___7 (Set1) |COMO_ELIMINAR_CRI___7 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|35        |1                            |0                            |character   |character   |           |


#### Column -  COMO_PREV_ZIKA___1



|RECORD_ID |COMO_PREV_ZIKA___1 (Set1) |COMO_PREV_ZIKA___1 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:-------------------------|:-----------|:-----------|:----------|
|66        |1                         |0                         |character   |character   |           |


#### Column -  COMO_PREV_ZIKA___11



|RECORD_ID |COMO_PREV_ZIKA___11 (Set1) |COMO_PREV_ZIKA___11 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|4         |0                          |1                          |character   |character   |           |


#### Column -  COMO_PREV_ZIKA___13



|RECORD_ID |COMO_PREV_ZIKA___13 (Set1) |COMO_PREV_ZIKA___13 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|89        |0                          |1                          |character   |character   |           |


#### Column -  COMO_PREV_ZIKA___14



|RECORD_ID |COMO_PREV_ZIKA___14 (Set1) |COMO_PREV_ZIKA___14 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|6         |0                          |1                          |character   |character   |           |


#### Column -  CONDON_DIRIGIDO
Showing sample of size 5



|RECORD_ID |CONDON_DIRIGIDO (Set1) |CONDON_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|37        |NA                     |1                      |character   |character   |           |
|21        |1                      |NA                     |character   |character   |           |
|159       |1                      |NA                     |character   |character   |           |
|94        |NA                     |1                      |character   |character   |           |
|15        |1                      |NA                     |character   |character   |           |


#### Column -  CONDON_ESPONTANEO
Showing sample of size 5



|RECORD_ID |CONDON_ESPONTANEO (Set1) |CONDON_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|126       |1                        |NA                       |character   |character   |           |
|159       |NA                       |1                        |character   |character   |           |
|21        |NA                       |1                        |character   |character   |           |
|94        |1                        |NA                       |character   |character   |           |
|115       |NA                       |1                        |character   |character   |           |


#### Column -  CONDON_HA_USADO



|RECORD_ID |CONDON_HA_USADO (Set1) |CONDON_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|15        |0                      |1                      |character   |character   |           |
|5         |0                      |1                      |character   |character   |           |


#### Column -  CONDON_ULTMES



|RECORD_ID |CONDON_ULTMES (Set1) |CONDON_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|24        |0                    |NA                   |character   |character   |           |
|15        |NA                   |0                    |character   |character   |           |
|8         |0                    |1                    |character   |character   |           |
|112       |1                    |0                    |character   |character   |           |


#### Column -  CONDONF_DIRIGIDO



|RECORD_ID |CONDONF_DIRIGIDO (Set1) |CONDONF_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|25        |0                       |NA                      |character   |character   |           |
|94        |NA                      |1                       |character   |character   |           |
|31        |NA                      |0                       |character   |character   |           |


#### Column -  CONDONF_ESPONTANEO



|RECORD_ID |CONDONF_ESPONTANEO (Set1) |CONDONF_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:-------------------------|:-----------|:-----------|:----------|
|94        |1                         |NA                        |character   |character   |           |
|25        |NA                        |1                         |character   |character   |           |


#### Column -  CONDONF_HA_USADO



|RECORD_ID |CONDONF_HA_USADO (Set1) |CONDONF_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|105       |NA                      |0                       |character   |character   |           |
|25        |NA                      |1                       |character   |character   |           |
|31        |0                       |NA                      |character   |character   |           |
|53        |0                       |NA                      |character   |character   |           |


#### Column -  CONDONF_ULTMES



|RECORD_ID |CONDONF_ULTMES (Set1) |CONDONF_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:---------------------|:-----------|:-----------|:----------|
|25        |NA                    |0                     |character   |character   |           |
|131       |1                     |0                     |character   |character   |           |


#### Column -  CONTAGIARSE_ZIKA___4



|RECORD_ID |CONTAGIARSE_ZIKA___4 (Set1) |CONTAGIARSE_ZIKA___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|23        |0                           |1                           |character   |character   |           |


#### Column -  CONTAGIARSE_ZIKA___5



|RECORD_ID |CONTAGIARSE_ZIKA___5 (Set1) |CONTAGIARSE_ZIKA___5 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|23        |1                           |0                           |character   |character   |           |


#### Column -  COSAS_HACE_PREVENIR___11



|RECORD_ID |COSAS_HACE_PREVENIR___11 (Set1) |COSAS_HACE_PREVENIR___11 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------------|:-------------------------------|:-----------|:-----------|:----------|
|84        |1                               |0                               |character   |character   |           |


#### Column -  COSAS_HACE_PREVENIR___3



|RECORD_ID |COSAS_HACE_PREVENIR___3 (Set1) |COSAS_HACE_PREVENIR___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------|:------------------------------|:-----------|:-----------|:----------|
|175       |1                              |0                              |character   |character   |           |
|104       |1                              |0                              |character   |character   |           |


#### Column -  COSAS_HACE_PREVENIR___4



|RECORD_ID |COSAS_HACE_PREVENIR___4 (Set1) |COSAS_HACE_PREVENIR___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------|:------------------------------|:-----------|:-----------|:----------|
|175       |0                              |1                              |character   |character   |           |
|104       |0                              |1                              |character   |character   |           |


#### Column -  COSAS_HACE_PREVENIR___7



|RECORD_ID |COSAS_HACE_PREVENIR___7 (Set1) |COSAS_HACE_PREVENIR___7 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------|:------------------------------|:-----------|:-----------|:----------|
|39        |1                              |0                              |character   |character   |           |
|84        |0                              |1                              |character   |character   |           |


#### Column -  CUAL_RIESGO_BEBE___4



|RECORD_ID |CUAL_RIESGO_BEBE___4 (Set1) |CUAL_RIESGO_BEBE___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|110       |1                           |0                           |character   |character   |           |


#### Column -  CUAL_RIESGO_BEBE___5



|RECORD_ID |CUAL_RIESGO_BEBE___5 (Set1) |CUAL_RIESGO_BEBE___5 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|34        |0                           |1                           |character   |character   |           |
|32        |1                           |0                           |character   |character   |           |


#### Column -  CUAL_RIESGO_BEBE___6



|RECORD_ID |CUAL_RIESGO_BEBE___6 (Set1) |CUAL_RIESGO_BEBE___6 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|110       |0                           |1                           |character   |character   |           |
|32        |0                           |1                           |character   |character   |           |
|34        |1                           |0                           |character   |character   |           |


#### Column -  CUARTOS



|RECORD_ID |CUARTOS (Set1) |CUARTOS (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------|:--------------|:-----------|:-----------|:----------|
|61        |1              |2              |character   |character   |           |


#### Column -  DONDE_REPRODUCEN___2



|RECORD_ID |DONDE_REPRODUCEN___2 (Set1) |DONDE_REPRODUCEN___2 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|110       |0                           |1                           |character   |character   |           |
|23        |0                           |1                           |character   |character   |           |


#### Column -  DONDE_REPRODUCEN___3



|RECORD_ID |DONDE_REPRODUCEN___3 (Set1) |DONDE_REPRODUCEN___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|23        |1                           |0                           |character   |character   |           |


#### Column -  DONDE_REPRODUCEN___5



|RECORD_ID |DONDE_REPRODUCEN___5 (Set1) |DONDE_REPRODUCEN___5 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|141       |0                           |1                           |character   |character   |           |
|124       |0                           |1                           |character   |character   |           |


#### Column -  EDAD
Showing sample of size 5



|RECORD_ID |EDAD (Set1) |EDAD (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------|:-----------|:-----------|:-----------|:----------|
|85        |31          |21          |character   |character   |           |
|38        |38          |39          |character   |character   |           |
|153       |41          |42          |character   |character   |           |
|53        |24          |25          |character   |character   |           |
|57        |39          |38          |character   |character   |           |


#### Column -  EDUCACION



|RECORD_ID |EDUCACION (Set1) |EDUCACION (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------|:----------------|:-----------|:-----------|:----------|
|23        |8                |4                |character   |character   |           |


#### Column -  EMBARAZADA_MEF
Showing sample of size 5



|RECORD_ID |EMBARAZADA_MEF (Set1) |EMBARAZADA_MEF (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:---------------------|:-----------|:-----------|:----------|
|37        |0                     |NA                    |character   |character   |           |
|136       |NA                    |0                     |character   |character   |           |
|134       |NA                    |0                     |character   |character   |           |
|94        |NA                    |0                     |character   |character   |           |
|141       |NA                    |0                     |character   |character   |           |


#### Column -  ENCUESTADORA
Showing sample of size 5



|RECORD_ID |ENCUESTADORA (Set1)        |ENCUESTADORA (Set2)        |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|41        |REYNA ISABEL RIVERA ALFARO |REYNA RIVERA ALFARO        |character   |character   |           |
|35        |REYNA ISABEL RIVERA ALFARO |REYNA RIVERA ALFARO        |character   |character   |           |
|49        |JAMILETH  GONZALEZ         |YAMILETH GONZALEZ          |character   |character   |           |
|126       |NOEMA ROCHA OBREGON        |NOEMA RAQUEL ROCHA OBREGÓN |character   |character   |           |
|167       |REYNA ISABEL RIVERA ALFARO |REYNA RIVERA ALFARO        |character   |character   |           |


#### Column -  ESPERMI_DIRIGIDO



|RECORD_ID |ESPERMI_DIRIGIDO (Set1) |ESPERMI_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|48        |0                       |1                       |character   |character   |           |
|177       |NA                      |0                       |character   |character   |           |
|25        |1                       |0                       |character   |character   |           |


#### Column -  ESPERMI_HA_USADO



|RECORD_ID |ESPERMI_HA_USADO (Set1) |ESPERMI_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|35        |0                       |NA                      |character   |character   |           |
|31        |0                       |NA                      |character   |character   |           |
|25        |1                       |NA                      |character   |character   |           |


#### Column -  ESPERMI_ULTMES



|RECORD_ID |ESPERMI_ULTMES (Set1) |ESPERMI_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:---------------------|:-----------|:-----------|:----------|
|35        |0                     |NA                    |character   |character   |           |
|25        |0                     |NA                    |character   |character   |           |


#### Column -  FECHA_ENTREVISTA



|RECORD_ID |FECHA_ENTREVISTA (Set1) |FECHA_ENTREVISTA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|74        |2020-03-02              |2020-02-26              |character   |character   |           |
|1         |2020-02-21              |2020-02-22              |character   |character   |           |
|186       |2020-02-21              |2020-02-29              |character   |character   |           |


#### Column -  FECHA_NACIMIENTO



|RECORD_ID |FECHA_NACIMIENTO (Set1) |FECHA_NACIMIENTO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|184       |1971-03-21              |1921-03-21              |character   |character   |           |


#### Column -  GRADO_ANO
Showing sample of size 5



|RECORD_ID |GRADO_ANO (Set1) |GRADO_ANO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------|:----------------|:-----------|:-----------|:----------|
|31        |2 AÑO            |2                |character   |character   |           |
|179       |6 GRADO          |6                |character   |character   |           |
|96        |3                |3 AÑO            |character   |character   |           |
|157       |5 AÑO            |5                |character   |character   |           |
|27        |1 GRADO          |1                |character   |character   |           |


#### Column -  HABLADO_PAREJA_CONDONES



|RECORD_ID |HABLADO_PAREJA_CONDONES (Set1) |HABLADO_PAREJA_CONDONES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------|:------------------------------|:-----------|:-----------|:----------|
|31        |3                              |99                             |character   |character   |           |
|49        |NA                             |0                              |character   |character   |           |
|108       |0                              |1                              |character   |character   |           |
|37        |1                              |0                              |character   |character   |           |


#### Column -  HIZO_ELIMINO___9



|RECORD_ID |HIZO_ELIMINO___9 (Set1) |HIZO_ELIMINO___9 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|178       |1                       |0                       |character   |character   |           |


#### Column -  IMPLANTE_DIRIGIDO
Showing sample of size 5



|RECORD_ID |IMPLANTE_DIRIGIDO (Set1) |IMPLANTE_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|111       |NA                       |1                        |character   |character   |           |
|121       |NA                       |1                        |character   |character   |           |
|115       |NA                       |0                        |character   |character   |           |
|92        |1                        |NA                       |character   |character   |           |
|94        |NA                       |1                        |character   |character   |           |


#### Column -  IMPLANTE_ESPONTANEO
Showing sample of size 5



|RECORD_ID |IMPLANTE_ESPONTANEO (Set1) |IMPLANTE_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|121       |1                          |NA                         |character   |character   |           |
|111       |1                          |NA                         |character   |character   |           |
|115       |0                          |NA                         |character   |character   |           |
|94        |1                          |NA                         |character   |character   |           |
|92        |NA                         |1                          |character   |character   |           |


#### Column -  IMPLANTE_HA_USADO



|RECORD_ID |IMPLANTE_HA_USADO (Set1) |IMPLANTE_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|92        |0                        |1                        |character   |character   |           |


#### Column -  IMPLANTE_ULTMES



|RECORD_ID |IMPLANTE_ULTMES (Set1) |IMPLANTE_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|92        |NA                     |0                      |character   |character   |           |


#### Column -  INYECCION_DIRIGIDO



|RECORD_ID |INYECCION_DIRIGIDO (Set1) |INYECCION_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:-------------------------|:-----------|:-----------|:----------|
|86        |1                         |NA                        |character   |character   |           |
|14        |1                         |NA                        |character   |character   |           |
|169       |1                         |NA                        |character   |character   |           |


#### Column -  INYECCION_ESPONTANEO



|RECORD_ID |INYECCION_ESPONTANEO (Set1) |INYECCION_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------|:---------------------------|:-----------|:-----------|:----------|
|86        |NA                          |1                           |character   |character   |           |
|14        |NA                          |1                           |character   |character   |           |


#### Column -  INYECCION_HA_USADO



|RECORD_ID |INYECCION_HA_USADO (Set1) |INYECCION_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:-------------------------|:-----------|:-----------|:----------|
|49        |1                         |0                         |character   |character   |           |
|169       |NA                        |1                         |character   |character   |           |
|51        |0                         |1                         |character   |character   |           |


#### Column -  INYECCION_ULTMES
Showing sample of size 5



|RECORD_ID |INYECCION_ULTMES (Set1) |INYECCION_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|51        |1                       |0                       |character   |character   |           |
|123       |NA                      |0                       |character   |character   |           |
|23        |NA                      |1                       |character   |character   |           |
|98        |0                       |1                       |character   |character   |           |
|154       |0                       |NA                      |character   |character   |           |


#### Column -  LIDAGRUA_ULTMES
Showing sample of size 5



|RECORD_ID |LIDAGRUA_ULTMES (Set1) |LIDAGRUA_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|186       |1                      |0                      |character   |character   |           |
|106       |1                      |0                      |character   |character   |           |
|20        |NA                     |1                      |character   |character   |           |
|115       |0                      |1                      |character   |character   |           |
|36        |0                      |NA                     |character   |character   |           |


#### Column -  LIGADURA_DIRIGIDO



|RECORD_ID |LIGADURA_DIRIGIDO (Set1) |LIGADURA_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|179       |NA                       |1                        |character   |character   |           |
|163       |NA                       |0                        |character   |character   |           |
|37        |0                        |NA                       |character   |character   |           |
|130       |1                        |NA                       |character   |character   |           |


#### Column -  LIGADURA_ESPONTANEO



|RECORD_ID |LIGADURA_ESPONTANEO (Set1) |LIGADURA_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|179       |1                          |NA                         |character   |character   |           |
|37        |NA                         |0                          |character   |character   |           |
|130       |NA                         |1                          |character   |character   |           |


#### Column -  LIGADURA_HA_USADO



|RECORD_ID |LIGADURA_HA_USADO (Set1) |LIGADURA_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|36        |1                        |0                        |character   |character   |           |
|25        |NA                       |1                        |character   |character   |           |


#### Column -  MANGAS_PANTALONES



|RECORD_ID |MANGAS_PANTALONES (Set1) |MANGAS_PANTALONES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|29        |0                        |1                        |character   |character   |           |


#### Column -  MANGAS_PANTALONES_ULTDIA



|RECORD_ID |MANGAS_PANTALONES_ULTDIA (Set1) |MANGAS_PANTALONES_ULTDIA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------------|:-------------------------------|:-----------|:-----------|:----------|
|29        |NA                              |1                               |character   |character   |           |


#### Column -  MATERIAL_PAREDES



|RECORD_ID |MATERIAL_PAREDES (Set1) |MATERIAL_PAREDES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|84        |1                       |11                      |character   |character   |           |


#### Column -  MELA_DIRIGIDO



|RECORD_ID |MELA_DIRIGIDO (Set1) |MELA_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|188       |NA                   |1                    |character   |character   |           |
|25        |0                    |1                    |character   |character   |           |
|88        |NA                   |1                    |character   |character   |           |
|191       |1                    |NA                   |character   |character   |           |


#### Column -  MELA_ESPONTANEO



|RECORD_ID |MELA_ESPONTANEO (Set1) |MELA_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|191       |NA                     |1                      |character   |character   |           |
|88        |1                      |NA                     |character   |character   |           |


#### Column -  MELA_HA_USADO



|RECORD_ID |MELA_HA_USADO (Set1) |MELA_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|188       |NA                   |0                    |character   |character   |           |
|42        |NA                   |0                    |character   |character   |           |
|25        |NA                   |1                    |character   |character   |           |


#### Column -  MELA_ULTMES



|RECORD_ID |MELA_ULTMES (Set1) |MELA_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------|:------------------|:-----------|:-----------|:----------|
|25        |NA                 |0                  |character   |character   |           |
|33        |NA                 |0                  |character   |character   |           |


#### Column -  OTRO_CASA



|RECORD_ID |OTRO_CASA (Set1)      |OTRO_CASA (Set2)    |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:-------------------|:-----------|:-----------|:----------|
|118       |DE SU HERMANO.        |DE SU HERMANO       |character   |character   |           |
|68        |DE SUS ABUELOS.       |DE SUS ABUELAS      |character   |character   |           |
|50        |ABUELITA DE SU ESPOSO |ABUELA DE SU ESPOSO |character   |character   |           |


#### Column -  OTRO_HACE_PREVENIR
Showing sample of size 5



|RECORD_ID |OTRO_HACE_PREVENIR (Set1)  |OTRO_HACE_PREVENIR (Set2)         |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:---------------------------------|:-----------|:-----------|:----------|
|168       |NO MANTENER TIERRA HUMEDA. |no mantener tierra humeda         |character   |character   |           |
|10        |ECHAR DICEL A LOS BARRILES |hechar disel a los barriles       |character   |character   |           |
|17        |ECHARLE GAS A LOS BARRILES |HECHAR GAS A LOS BARRILES         |character   |character   |           |
|58        |ELIMINAR LOS CHARCOS       |eliminar charcos                  |character   |character   |           |
|177       |DEJAR ENTRAR ABATIZADORES  |DEJAR QUE ENTREN LOS ABATISADORES |character   |character   |           |


#### Column -  OTRO_PERSONA
Showing sample of size 5



|RECORD_ID |OTRO_PERSONA (Set1)     |OTRO_PERSONA (Set2)        |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:--------------------------|:-----------|:-----------|:----------|
|19        |TV Y REDES SOCIALES     |LA TV Y LAS REDES SOCIALES |character   |character   |           |
|57        |LA TELEVISION           |LA TELEVISIÓN              |character   |character   |           |
|112       |UNIVERSIDAD,CHARLAS     |UNIVERSIDAD CHARLAS        |character   |character   |           |
|177       |POR TV                  |POR LA TELEVISIÓN          |character   |character   |           |
|128       |DENGUE CHAT(BTIGADISTA) |DENGUE CHAT (BRIGADISTAS)  |character   |character   |           |


#### Column -  OTRO_PLANIFICACION_NOMBRE



|RECORD_ID |OTRO_PLANIFICACION_NOMBRE (Set1) |OTRO_PLANIFICACION_NOMBRE (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|75        |PARCHES EN EL VIENTRE            |PARCHES EN EL VIENTRE.           |character   |character   |           |


#### Column -  OTRO_REPRODUCEN
Showing sample of size 5



|RECORD_ID |OTRO_REPRODUCEN (Set1)    |OTRO_REPRODUCEN (Set2)         |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:------------------------------|:-----------|:-----------|:----------|
|10        |EN AGUA LIMPIA, FLOREROS. |en agua limpia,en floreros     |character   |character   |           |
|165       |ESQUINA DE LOS CUARTOS    |ESQUINA DE LOS CUARTOS MOJADOS |character   |character   |           |
|182       |AGUAS LIMPIAS             |AGUAS LIMPIAS.                 |character   |character   |           |
|89        |AGUA LIMPIA               |AGUAS LIMPIAS                  |character   |character   |           |
|62        |TAPONES,MACETERAS         |MASETERAS,TAPONES              |character   |character   |           |


#### Column -  OTRO_ULTMESOTRO_ULTMES



|RECORD_ID |OTRO_ULTMESOTRO_ULTMES (Set1) |OTRO_ULTMESOTRO_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------|:-----------------------------|:-----------|:-----------|:----------|
|75        |0                             |NA                            |character   |character   |           |


#### Column -  OTROS_COMO_PREV_ZIKA
Showing sample of size 5



|RECORD_ID |OTROS_COMO_PREV_ZIKA (Set1)               |OTROS_COMO_PREV_ZIKA (Set2)            |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------------------|:--------------------------------------|:-----------|:-----------|:----------|
|38        |LIMPIANDO DEBAJO DE LA CAMA.              |LIMPIANDO DEBAJO DE LA CAMA            |character   |character   |           |
|19        |LAVADO DE MANO.  NO DAR BESO EN LA MEJIA. |LAVADO DE MANO,NO DAR BESO EN LA MEJÍA |character   |character   |           |
|11        |limpiar el barrio                         |LIMPIAR EL BARRIO                      |character   |character   |           |
|17        |VOLTEANDO LOS BARRILES                    |VOLTEAR LOS BARRILES                   |character   |character   |           |
|12        |voltear botellas                          |BOLTIAR BOTELLA                        |character   |character   |           |


#### Column -  OTROS_CONTAGIARSE



|RECORD_ID |OTROS_CONTAGIARSE (Set1)                         |OTROS_CONTAGIARSE (Set2)        |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------------------------|:-------------------------------|:-----------|:-----------|:----------|
|52        |NO LAVANDOSE LAS MANOS Y COMER COMIDOS MOSQUIADO |NO LAVÁNDOSE  LAS MANOS Y COMER |character   |character   |           |


#### Column -  OTROS_ELIMINAR_CRI
Showing sample of size 5



|RECORD_ID |OTROS_ELIMINAR_CRI (Set1)        |OTROS_ELIMINAR_CRI (Set2)       |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:-------------------------------|:-----------|:-----------|:----------|
|3         |BOTAR FLORERO QUE NO ESTE EN USO |BOTAR FLOERO QUE NO ESTE EN USO |character   |character   |           |
|19        |ERRADICAR LA MUGRE               |RADICANDO LA MUGRE              |character   |character   |           |
|11        |rozar el monte                   |ROSAR MONTE                     |character   |character   |           |
|10        |USAR DICEL                       |usar disel                      |character   |character   |           |
|30        |botar bolsas                     |BOTAR BOLSAS                    |character   |character   |           |


#### Column -  OTROS_HIZO_ELIMINO
Showing sample of size 5



|RECORD_ID |OTROS_HIZO_ELIMINO (Set1)  |OTROS_HIZO_ELIMINO (Set2)  |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|168       |QUEMAN LA BASURA.          |quema la basura            |character   |character   |           |
|7         |utilizo gas                |UTILIZO GAS                |character   |character   |           |
|21        |ELIMIN0 BARRILES DE LATA   |ELIMINO BARRILES DE LATA   |character   |character   |           |
|10        |ECHO DICEL                 |hechar disel               |character   |character   |           |
|61        |HECHO GAS CON SIPERMETRINA |hecho gas con cipermetrina |character   |character   |           |


#### Column -  OTROS_PLANIFICACION



|RECORD_ID |OTROS_PLANIFICACION (Set1) |OTROS_PLANIFICACION (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|37        |0                          |NA                         |character   |character   |           |
|175       |0                          |NA                         |character   |character   |           |
|42        |NA                         |0                          |character   |character   |           |


#### Column -  OTROS_PREV_TRANS_EMBARAZADA



|RECORD_ID |OTROS_PREV_TRANS_EMBARAZADA (Set1) |OTROS_PREV_TRANS_EMBARAZADA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------------|:----------------------------------|:-----------|:-----------|:----------|
|89        |SACAR LA BASURA                    |SACAR BASURA                       |character   |character   |           |
|43        |ALCOHOL EN GEL                     |ALCOHOL EN GEL.                    |character   |character   |           |
|12        |ir a un puesto medico              |IR A UN PUESTO MÉDICO              |character   |character   |           |
|30        |ir a un puesto de salud            |IR A UN PUESTO DE SALUD            |character   |character   |           |


#### Column -  OTROS_RIESGOS



|RECORD_ID |OTROS_RIESGOS (Set1)                 |OTROS_RIESGOS (Set2)               |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------------|:----------------------------------|:-----------|:-----------|:----------|
|50        |AFECTAR SU FORMACIÓN EL BEBE         |AFECTAR SU FORMACIÓN EL BEBÉ       |character   |character   |           |
|27        |CUIDARSE ELLA, COMO USAR MOSQUITEROS |CUIDARSE ELLA,COMO USAR MOSQUITERO |character   |character   |           |
|168       |FALTA DE RESPIRACIÓN                 |falta de respiracion               |character   |character   |           |
|183       |PUEDE NACER BAJO PESO EL BEBE        |PUEDE NACER BAJO PESO EL BEBÉ      |character   |character   |           |


#### Column -  OTROS_SINTOMAS
Showing sample of size 5



|RECORD_ID |OTROS_SINTOMAS (Set1)        |OTROS_SINTOMAS (Set2)        |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|104       |alergia, diarrea             |ALERGIA,DIARREA              |character   |character   |           |
|177       |ZUMBIDO EN LOS OIDOS ,VOMITO |SUNVIDO EN LOS OÍDOS,VÓMITOS |character   |character   |           |
|168       |DIARREA                      |diarrea                      |character   |character   |           |
|132       |DIARREA, VOMITO              |DIARREA,VOMITO               |character   |character   |           |
|12        |vomito,diarrea               |VOMITO,DIARREA               |character   |character   |           |


#### Column -  OTROS_TRATAMIENTOS
Showing sample of size 5



|RECORD_ID |OTROS_TRATAMIENTOS (Set1)    |OTROS_TRATAMIENTOS (Set2)   |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:---------------------------|:-----------|:-----------|:----------|
|11        |ir al centron de salud       |IR AL CENTRO DE SALUD       |character   |character   |           |
|117       |SUERO ,ACETOMINOFEN          |SUERO,ACETAMINOFEN          |character   |character   |           |
|177       |SUERO Y ACETOMINOFEN         |SUERO Y ACETAMINOFEN        |character   |character   |           |
|186       |ACETAMINOFEN                 |ACETOMINOFEN                |character   |character   |           |
|180       |RECURRIR AL CENTRO DE SALUD. |RECURRIR AL CENTRO DE SALUD |character   |character   |           |


#### Column -  OTROS_VEHICULOS



|RECORD_ID |OTROS_VEHICULOS (Set1) |OTROS_VEHICULOS (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|132       |MICRO BUS              |MICROBUS               |character   |character   |           |
|25        |CAMIONCITO             |CAMIONETA              |character   |character   |           |
|131       |CAMIÓN                 |CAMION                 |character   |character   |           |


#### Column -  PAREJA_CONDON_SIEMPRE



|RECORD_ID |PAREJA_CONDON_SIEMPRE (Set1) |PAREJA_CONDON_SIEMPRE (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------------|:----------------------------|:-----------|:-----------|:----------|
|2         |0                            |1                            |character   |character   |           |


#### Column -  PAREJA_USO_CONDON



|RECORD_ID |PAREJA_USO_CONDON (Set1) |PAREJA_USO_CONDON (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|11        |NA                       |2                        |character   |character   |           |
|30        |NA                       |2                        |character   |character   |           |


#### Column -  PAREJA_VIVECASA
Showing sample of size 5



|RECORD_ID |PAREJA_VIVECASA (Set1) |PAREJA_VIVECASA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|173       |1                      |2                      |character   |character   |           |
|155       |1                      |2                      |character   |character   |           |
|22        |1                      |2                      |character   |character   |           |
|98        |1                      |2                      |character   |character   |           |
|88        |1                      |2                      |character   |character   |           |


#### Column -  PASTILLA_DIRIGIDO



|RECORD_ID |PASTILLA_DIRIGIDO (Set1) |PASTILLA_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|186       |NA                       |1                        |character   |character   |           |
|67        |NA                       |1                        |character   |character   |           |
|113       |1                        |NA                       |character   |character   |           |
|4         |1                        |NA                       |character   |character   |           |


#### Column -  PASTILLA_ESPONTANEO



|RECORD_ID |PASTILLA_ESPONTANEO (Set1) |PASTILLA_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|4         |NA                         |1                          |character   |character   |           |
|113       |NA                         |1                          |character   |character   |           |
|67        |1                          |NA                         |character   |character   |           |
|186       |1                          |NA                         |character   |character   |           |


#### Column -  PASTILLA_HA_USADO



|RECORD_ID |PASTILLA_HA_USADO (Set1) |PASTILLA_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|51        |0                        |1                        |character   |character   |           |
|147       |0                        |1                        |character   |character   |           |


#### Column -  PASTILLA_ULTMES



|RECORD_ID |PASTILLA_ULTMES (Set1) |PASTILLA_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|6         |NA                     |0                      |character   |character   |           |


#### Column -  PPMS_DIRIGIDO



|RECORD_ID |PPMS_DIRIGIDO (Set1) |PPMS_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|37        |1                    |NA                   |character   |character   |           |
|81        |NA                   |1                    |character   |character   |           |


#### Column -  PPMS_ESPONTANEO



|RECORD_ID |PPMS_ESPONTANEO (Set1) |PPMS_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|81        |1                      |NA                     |character   |character   |           |
|93        |NA                     |1                      |character   |character   |           |


#### Column -  PPMS_HA_USADO



|RECORD_ID |PPMS_HA_USADO (Set1) |PPMS_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|76        |0                    |1                    |character   |character   |           |
|189       |NA                   |0                    |character   |character   |           |
|28        |0                    |NA                   |character   |character   |           |
|37        |0                    |NA                   |character   |character   |           |


#### Column -  PPMS_ULTMES



|RECORD_ID |PPMS_ULTMES (Set1) |PPMS_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------|:------------------|:-----------|:-----------|:----------|
|6         |NA                 |0                  |character   |character   |           |
|152       |1                  |0                  |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___10



|RECORD_ID |PREV_TRANS_EMBARAZADA___10 (Set1) |PREV_TRANS_EMBARAZADA___10 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------------|:---------------------------------|:-----------|:-----------|:----------|
|22        |0                                 |1                                 |character   |character   |           |
|26        |0                                 |1                                 |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___11



|RECORD_ID |PREV_TRANS_EMBARAZADA___11 (Set1) |PREV_TRANS_EMBARAZADA___11 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------------|:---------------------------------|:-----------|:-----------|:----------|
|22        |0                                 |1                                 |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___12



|RECORD_ID |PREV_TRANS_EMBARAZADA___12 (Set1) |PREV_TRANS_EMBARAZADA___12 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------------|:---------------------------------|:-----------|:-----------|:----------|
|61        |1                                 |0                                 |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___14



|RECORD_ID |PREV_TRANS_EMBARAZADA___14 (Set1) |PREV_TRANS_EMBARAZADA___14 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------------------|:---------------------------------|:-----------|:-----------|:----------|
|39        |0                                 |1                                 |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___3



|RECORD_ID |PREV_TRANS_EMBARAZADA___3 (Set1) |PREV_TRANS_EMBARAZADA___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|3         |0                                |1                                |character   |character   |           |
|57        |0                                |1                                |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___4



|RECORD_ID |PREV_TRANS_EMBARAZADA___4 (Set1) |PREV_TRANS_EMBARAZADA___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|3         |1                                |0                                |character   |character   |           |
|57        |1                                |0                                |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___7



|RECORD_ID |PREV_TRANS_EMBARAZADA___7 (Set1) |PREV_TRANS_EMBARAZADA___7 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|22        |0                                |1                                |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___8



|RECORD_ID |PREV_TRANS_EMBARAZADA___8 (Set1) |PREV_TRANS_EMBARAZADA___8 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|22        |0                                |1                                |character   |character   |           |


#### Column -  PREV_TRANS_EMBARAZADA___9



|RECORD_ID |PREV_TRANS_EMBARAZADA___9 (Set1) |PREV_TRANS_EMBARAZADA___9 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|95        |1                                |0                                |character   |character   |           |


#### Column -  QUIEN_VISITAS_REUNION___2



|RECORD_ID |QUIEN_VISITAS_REUNION___2 (Set1) |QUIEN_VISITAS_REUNION___2 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------------|:--------------------------------|:-----------|:-----------|:----------|
|42        |0                                |1                                |character   |character   |           |


#### Column -  RELATION_ULT3



|RECORD_ID |RELATION_ULT3 (Set1) |RELATION_ULT3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|11        |0                    |1                    |character   |character   |           |
|30        |0                    |1                    |character   |character   |           |


#### Column -  REPELENTE



|RECORD_ID |REPELENTE (Set1) |REPELENTE (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------|:----------------|:-----------|:-----------|:----------|
|62        |1                |0                |character   |character   |           |


#### Column -  REPELENTE_ULTDIA



|RECORD_ID |REPELENTE_ULTDIA (Set1) |REPELENTE_ULTDIA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|62        |0                       |NA                      |character   |character   |           |


#### Column -  RETIRO_DIRIGIDO



|RECORD_ID |RETIRO_DIRIGIDO (Set1) |RETIRO_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|24        |NA                     |1                      |character   |character   |           |
|35        |1                      |0                      |character   |character   |           |


#### Column -  RETIRO_HA_USADO



|RECORD_ID |RETIRO_HA_USADO (Set1) |RETIRO_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------------|:----------------------|:-----------|:-----------|:----------|
|35        |0                      |NA                     |character   |character   |           |
|24        |NA                     |0                      |character   |character   |           |


#### Column -  RETIRO_ULTMES



|RECORD_ID |RETIRO_ULTMES (Set1) |RETIRO_ULTMES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|63        |NA                   |0                    |character   |character   |           |


#### Column -  RIESGO_BARRIO_ZIKA



|RECORD_ID |RIESGO_BARRIO_ZIKA (Set1) |RIESGO_BARRIO_ZIKA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------|:-------------------------|:-----------|:-----------|:----------|
|99        |3                         |2                         |character   |character   |           |
|68        |1                         |3                         |character   |character   |           |


#### Column -  RIESGO_BEBE



|RECORD_ID |RIESGO_BEBE (Set1) |RIESGO_BEBE (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------|:------------------|:-----------|:-----------|:----------|
|89        |0                  |98                 |character   |character   |           |


#### Column -  RIESGO_CASA_ZIKA



|RECORD_ID |RIESGO_CASA_ZIKA (Set1) |RIESGO_CASA_ZIKA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|128       |5                       |1                       |character   |character   |           |


#### Column -  RITMO_DIRIGIDO



|RECORD_ID |RITMO_DIRIGIDO (Set1) |RITMO_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:---------------------|:-----------|:-----------|:----------|
|111       |1                     |NA                    |character   |character   |           |


#### Column -  RITMO_ESPONTANEO



|RECORD_ID |RITMO_ESPONTANEO (Set1) |RITMO_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------|:-----------------------|:-----------|:-----------|:----------|
|111       |NA                      |1                       |character   |character   |           |


#### Column -  SERVICIO_HIGIENICO___1



|RECORD_ID |SERVICIO_HIGIENICO___1 (Set1) |SERVICIO_HIGIENICO___1 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------|:-----------------------------|:-----------|:-----------|:----------|
|49        |0                             |1                             |character   |character   |           |


#### Column -  SERVICIO_HIGIENICO___2



|RECORD_ID |SERVICIO_HIGIENICO___2 (Set1) |SERVICIO_HIGIENICO___2 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------|:-----------------------------|:-----------|:-----------|:----------|
|18        |0                             |1                             |character   |character   |           |


#### Column -  SERVICIO_HIGIENICO___3



|RECORD_ID |SERVICIO_HIGIENICO___3 (Set1) |SERVICIO_HIGIENICO___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------|:-----------------------------|:-----------|:-----------|:----------|
|18        |1                             |0                             |character   |character   |           |


#### Column -  SEXO_EDAD_DIAGNOSTICADO
Showing sample of size 5



|RECORD_ID |SEXO_EDAD_DIAGNOSTICADO (Set1) |SEXO_EDAD_DIAGNOSTICADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------|:------------------------------|:-----------|:-----------|:----------|
|122       |f13a                           |F13A                           |character   |character   |           |
|113       |M23A F22A                      |M23A, F22A                     |character   |character   |           |
|104       |NA                             |M15A, F30A                     |character   |character   |           |
|62        |F35A  F7A  F13  M32A           |F36A, F7A, F13A, M32A          |character   |character   |           |
|58        |F38A                           |f38a                           |character   |character   |           |


#### Column -  SINTOMAS___3



|RECORD_ID |SINTOMAS___3 (Set1) |SINTOMAS___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------|:-------------------|:-----------|:-----------|:----------|
|24        |0                   |1                   |character   |character   |           |


#### Column -  SINTOMAS___4



|RECORD_ID |SINTOMAS___4 (Set1) |SINTOMAS___4 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------|:-------------------|:-----------|:-----------|:----------|
|24        |0                   |1                   |character   |character   |           |
|11        |1                   |0                   |character   |character   |           |


#### Column -  SINTOMAS___5



|RECORD_ID |SINTOMAS___5 (Set1) |SINTOMAS___5 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------|:-------------------|:-----------|:-----------|:----------|
|11        |0                   |1                   |character   |character   |           |
|64        |1                   |0                   |character   |character   |           |
|33        |1                   |0                   |character   |character   |           |


#### Column -  T_DIRIGIDO
Showing sample of size 5



|RECORD_ID |T_DIRIGIDO (Set1) |T_DIRIGIDO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------|:-----------------|:-----------|:-----------|:----------|
|61        |NA                |0                 |character   |character   |           |
|169       |0                 |NA                |character   |character   |           |
|86        |NA                |1                 |character   |character   |           |
|68        |1                 |NA                |character   |character   |           |
|189       |NA                |1                 |character   |character   |           |


#### Column -  T_ESPONTANEO



|RECORD_ID |T_ESPONTANEO (Set1) |T_ESPONTANEO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------|:-------------------|:-----------|:-----------|:----------|
|68        |NA                  |1                   |character   |character   |           |
|86        |1                   |NA                  |character   |character   |           |


#### Column -  T_HA_USADO



|RECORD_ID |T_HA_USADO (Set1) |T_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------|:-----------------|:-----------|:-----------|:----------|
|169       |NA                |0                 |character   |character   |           |
|61        |0                 |NA                |character   |character   |           |
|47        |NA                |1                 |character   |character   |           |


#### Column -  TIPO_CASA



|RECORD_ID |TIPO_CASA (Set1) |TIPO_CASA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------|:----------------|:-----------|:-----------|:----------|
|183       |3                |5                |character   |character   |           |
|138       |3                |5                |character   |character   |           |


#### Column -  TOTAL_MUJERES



|RECORD_ID |TOTAL_MUJERES (Set1) |TOTAL_MUJERES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|35        |1                    |2                    |character   |character   |           |
|143       |2                    |1                    |character   |character   |           |


#### Column -  TOTAL_PERSONAS



|RECORD_ID |TOTAL_PERSONAS (Set1) |TOTAL_PERSONAS (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:---------------------|:---------------------|:-----------|:-----------|:----------|
|171       |5                     |8                     |character   |character   |           |
|105       |5                     |2                     |character   |character   |           |


#### Column -  TOTAL_VARONES



|RECORD_ID |TOTAL_VARONES (Set1) |TOTAL_VARONES (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------|:--------------------|:-----------|:-----------|:----------|
|35        |2                    |1                    |character   |character   |           |
|143       |1                    |2                    |character   |character   |           |


#### Column -  TRATAMIENTOS_RECOMIENDAN___3



|RECORD_ID |TRATAMIENTOS_RECOMIENDAN___3 (Set1) |TRATAMIENTOS_RECOMIENDAN___3 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-----------------------------------|:-----------------------------------|:-----------|:-----------|:----------|
|65        |1                                   |0                                   |character   |character   |           |


#### Column -  TRATAMIENTOS_RECOMIENDAN___97



|RECORD_ID |TRATAMIENTOS_RECOMIENDAN___97 (Set1) |TRATAMIENTOS_RECOMIENDAN___97 (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------------------|:------------------------------------|:-----------|:-----------|:----------|
|5         |0                                    |1                                    |character   |character   |           |
|109       |0                                    |1                                    |character   |character   |           |


#### Column -  ULTIMAVEZ_VISITA_REUNION



|RECORD_ID |ULTIMAVEZ_VISITA_REUNION (Set1) |ULTIMAVEZ_VISITA_REUNION (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:-------------------------------|:-------------------------------|:-----------|:-----------|:----------|
|29        |4                               |1                               |character   |character   |           |


#### Column -  VASECTOMIA_HA_USADO



|RECORD_ID |VASECTOMIA_HA_USADO (Set1) |VASECTOMIA_HA_USADO (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:--------------------------|:--------------------------|:-----------|:-----------|:----------|
|24        |NA                         |0                          |character   |character   |           |


#### Column -  VIVE_CASA



|RECORD_ID |VIVE_CASA (Set1) |VIVE_CASA (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:----------------|:----------------|:-----------|:-----------|:----------|
|164       |0                |1                |character   |character   |           |


#### Column -  ZIKA_TRANS_SEXUAL
Showing sample of size 5



|RECORD_ID |ZIKA_TRANS_SEXUAL (Set1) |ZIKA_TRANS_SEXUAL (Set2) |Type (Set1) |Type (Set2) |Difference |
|:---------|:------------------------|:------------------------|:-----------|:-----------|:----------|
|88        |2                        |98                       |character   |character   |           |
|77        |2                        |1                        |character   |character   |           |
|24        |1                        |2                        |character   |character   |           |
|108       |1                        |2                        |character   |character   |           |
|140       |2                        |1                        |character   |character   |           |


